
.MainTable 
{
    font-size: small;
    border: 0px;
    border-collapse:collapse;
    background-color: #23DE7A;
}
.MainTable tr, td, th
{
    padding: 4px;
    border: 1px solid black;
}
.MainTable th
{
    background-color: #07A852;
}
.ServerOffline td
{
    background-color: #EDCCD7;
}
.Connected td
{
    background-color: #97E8BD;
}
.ServerOverflow td
{
    background-color: #E8AEC1;
}
